// Colors
$first-color: #55B7FF;
$secondary-color: #7E5AFF;
$subtitle-color: #2C4058; 

// Fonts
$menu-font: 'Source Sans Pro', sans-serif;
$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$base-font-size: 1.1vw;